<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.service.mapper.system.SysOnlineUserMapper">

    <resultMap id="BaseResultMap" type="com.nebula.model.entity.system.SysOnlineUser">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="token" property="token"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="location" property="location"/>
        <result column="browser" property="browser"/>
        <result column="os" property="os"/>
        <result column="login_time" property="loginTime"/>
        <result column="last_activity_time" property="lastActivityTime"/>
        <result column="expired" property="expired"/>
    </resultMap>

</mapper>
