<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.service.mapper.blog.BlogTagMapper">

    <resultMap id="BaseResultMap" type="com.nebula.model.entity.blog.BlogTag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="slug" property="slug"/>
        <result column="description" property="description"/>
        <result column="icon" property="icon"/>
        <result column="color" property="color"/>
        <result column="article_count" property="articleCount"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
